!!! 5
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    != css('application')
  body
    .container: .row: .span8.offset2
      block content

    script(src='//code.jquery.com/jquery-1.9.1.min.js')
    script(src='/js/bootstrap.min.js')
    != js('application')
